<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Manager</title>
    <link rel="stylesheet" href="/styles/tailwind.css" />
  </head>
  <body class="bg-gray-200">
    <%- include('components/header', {title: "Projeto"}) %>

    <form id="project-form" method="post" action="/project/<%= job.id %>">
      <div
        class="container mx-auto flex flex-col lg:flex-row lg:justify-around"
      >
        <div class="flex-1 mx-4">
          <div class="relative -top-24 m-4 lg:-top-24">
            <h2
              class="
                text-gray-500 text-2xl
                font-semibold
                border-b-2 border-gray-300
                pb-2
                mb-6
              "
            >
              Dados do projeto
            </h2>
            <label class="xl:mx-2 inline-block w-2/5" for="">
              <span>Nome do projeto</span>
              <input
                id="project-name"
                name="project-name"
                class="w-full my-4 py-2 px-4 rounded border border-gray-300"
                type="text"
                value="<%= job.project_name %> "
              />
            </label>
            <label class="mx-2 inline-block w-2/5" for="">
              <span>Horas por dia</span>
              <input
                id="daily-hours"
                name="daily-hours"
                class="w-full my-4 py-2 px-4 rounded border border-gray-300"
                type="text"
                value="<%= job.daily_hours %> "
              />
            </label>
            <label class="xl:mx-2 inline-block w-2/5" for="">
              <span>Estimativa de horas</span>
              <input
                id="project-valuation"
                name="project-valuation"
                class="w-full my-4 py-2 px-4 rounded border border-gray-300"
                type="text"
                value="<%= job.total_hours %> "
              />
            </label>
          </div>
        </div>
        <div
          class="
            card
            flex flex-col
            items-center
            relative
            -top-16
            flex-1
            mx-4
            max-w-md
            h-full
            bg-white
            p-12
            rounded-md
            shadow-lg
          "
        >
          <img class="w-52" src="/img/cash-gray.svg" alt="cash" />
          <h2
            class="
              text-gray-800 text-center text-2xl
              font-bold
              tracking-wide
              mt-4
              mb-8
            "
          >
            O valor do projeto ficou em <br />
            R$ <%= job.budget %>
          </h2>
          <div class="flex w-full">
            <button
              form="project-form"
              type="submit"
              class="
                bg-pink-500
                w-full
                text-center
                p-4
                mx-2
                rounded
                text-white
                font-semibold
                text-lg
                hover:bg-pink-400
                transition
              "
            >
              Salvar
            </button>
            <a
              href="#"
              class="p-5 bg-gray-200 rounded mx-2 hover:bg-gray-100 transition"
            >
              <img src="/img/trash.svg" alt="delete" />
            </a>
          </div>
        </div>
      </div>
    </form>
  </body>
  <script src="src/scripts/toggle.js"></script>
</html>
